#profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

#profile-picture {
    width: 300px;
    height: auto;
    border: solid;
    border-radius: 100vw;
}

.professional-content {
    margin: 20px;
    width: 75vw;
}

