#profile-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

#profile-picture {
    width: 300px;
    height: auto;
    border: solid;
    border-radius: 100vw;
}

.professional-content {
    margin: 20px;
    width: 75vw;
}


#contact-header h1{
    padding: 0px;
}

#about-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#hobbies {
    width: 75vw;
    margin-top: 30px;
    margin-bottom: 50px;
}

.hobby-card {
    width: 75%;
    font-family:'Courier New', Courier, monospace;
}

.hobby-card img {
    width: 100%;
    height: auto;
}

