/* Styles for page content, including the project sections, the about sections, etc */

.section {
    
    
}

.section-header {
    border: none;
}

.section-header h1 {
    color: black;
    padding-left: 50px;
}

.skill {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    border: solid;
}

.section-content {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

.section-image img{
    border: solid;
    width: 25vw;
    height: auto;
    margin: 5vw;
}

.content-line {
    display: flex;
    align-items: center;
    border: solid;
    font-size: max(2vw, 1em);
    width: 100%;

}

.content-line p {
    border: solid;
    margin-left: 15px;
}

.content-line img {
    
    width: 10%;
    height: auto;
}