/* Styles for page content, including the project sections, the about sections, etc */



.section-header {


}

.section-header h1 {
    color: black;
    padding-left: 50px;
    
}

.skill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.accordion-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#skills .accordion {
    width: 75vw;
    font-family:'Courier New', Courier, monospace;
}


.section-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 30vw;

}

.section-image img{

    width: 25vw;
    height: auto;
    margin: 5vw
}

.content-line, .section-content h3 {
    display: flex;
    align-items: center;
    font-size: max(2vw, 1em);
    width: 100%;

}

.content-line p {
    margin-left: 15px;
}

.content-line img {
    
    width: 10%;
    height: auto;
}

#framework {
    display: flex;
    justify-content: right;
}