/* Styles for page content, including the project sections, the about sections, etc */

.section {

    
}

.section-header {
    border: none;
}

.section-header h1 {
    color: black;
    padding-left: 50px;
}

.skill {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skill img {
    width: 25vw;
    height: auto;
}